<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Otimiza Avatar</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li> -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Opções <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Create</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="input-group">
                        <div class="row">
                            <input type="text" class="form-control" placeholder="Search">
                            <button class="btn btn-outline-secondary btn-pesquisa" type="button">Button</button>
                        </div>
                    </div>
                </form>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>







<div class="container">
    <div class="col-md-6 offset-md-6">
        <span class="anchor" id="formUserEdit"></span>
        <hr class="my-5">

        <!-- form user info -->
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-5" style="padding-bottom: 15px;">Informações Avatar</h3>
            </div>
            <div class="card-body">
                <form class="form" role="form" autocomplete="off">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Estilo Avatar</label>
                        <div class="col-lg-9">
                            <select (change)="onChangeEstilo($event.target.value)" class="form-control" size="0">
                                <option *ngFor="let estilo of listEstilo" value={{estilo.nome}}>
                                    {{estilo.traducao}}
                                </option>
                            </select>  
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Cabelo</label>
                        <div class="col-lg-9">
                            <select (change)="onChangeCabelo($event.target.value)" class="form-control" size="0">
                                <option *ngFor="let cabelo of listCabelos" value={{cabelo.nome}}>
                                    {{cabelo.traducao}}
                                </option>
                            </select>  
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Acessorio</label>
                        <div class="col-lg-9">
                            <select (change)="onChangeAcessorios($event.target.value)" class="form-control" size="0">
                                <option *ngFor="let acessorio of listAcessorios" value={{acessorio.nome}}>
                                    {{acessorio.traducao}}
                                </option>
                            </select>  
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Cor do Cabelo</label>
                        <div class="col-lg-9">
                            <select (change)="onChangeCorCabelo($event.target.value)" class="form-control" size="0">
                                <option *ngFor="let corCabelo of listCoresCabelo" value={{corCabelo.nome}}>
                                    {{corCabelo.traducao}}
                                </option>
                            </select>  
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Barba</label>
                        <div class="col-lg-9">
                            <select (change)="onChangeBarba($event.target.value)" class="form-control" size="0">
                                <option *ngFor="let barba of listBarbas" value={{barba.nome}}>
                                    {{barba.traducao}}
                                </option>
                            </select>  
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Barba Cor</label>
                        <div class="col-lg-9">
                            <select (change)="onChangeBarbaCor($event.target.value)" class="form-control" size="0">
                                <option *ngFor="let corbarba of listCoresBarba" value={{corbarba.nome}} >
                                    {{corbarba.traducao}}
                                </option>
                            </select>  
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Roupa</label>
                        <div class="col-lg-9">
                            <select (change)="onChangeRoupa($event.target.value)" class="form-control" size="0">
                                <option *ngFor="let roupa of listRoupa" value={{roupa.nome}}>
                                    {{roupa.traducao}}
                                </option>
                            </select>  
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Cor Roupa</label>
                        <div class="col-lg-9">
                            <select (change)="onChangeCorRoupa($event.target.value)" class="form-control" size="0">
                                <option *ngFor="let corRoupa of listCoresRoupa" value={{corRoupa.nome}}>
                                    {{corRoupa.traducao}}
                                </option>
                            </select>  
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Olhos</label>
                        <div class="col-lg-9">
                            <select (change)="onChangeOlhos($event.target.value)" class="form-control" size="0">
                                <option *ngFor="let olhos of listOlhos" value={{olhos.nome}} >
                                    {{olhos.traducao}}
                                </option>
                            </select>  
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Sombracelha</label>
                        <div class="col-lg-9">
                            <select (change)="onChangeSombrancelhas($event.target.value)" class="form-control" size="0">
                                <option *ngFor="let sombra of listSombrancelha" value={{sombra.nome}} >
                                    {{sombra.traducao}}
                                </option>
                            </select>  
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Boca</label>
                        <div class="col-lg-9">
                            <select (change)="onChangeBoca($event.target.value)" class="form-control" size="0">
                                <option *ngFor="let boca of listBocas" value={{boca.nome}} >
                                    {{boca.traducao}}
                                </option>
                            </select>  
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Cor</label>
                        <div class="col-lg-9">
                            <select (change)="onChangeCor($event.target.value)" class="form-control" size="0">
                                <option *ngFor="let cor of listCor" value={{cor.nome}} >
                                    {{cor.traducao}}
                                </option>
                            </select>  
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label"></label>
                        <div class="col-lg-9">
                            <input type="reset" class="btn btn-secondary p-3" value="Resetar">
                            <input type="button" class="btn btn-primary p-3" value="Salvar Alterações" (click)="onPrint()">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /form user info -->

    </div>
    <div class="col-md-6 justify-content-end">
        <div class="row align-items-end">
            <div style="text-align: center">
                <img
                    src='{{url}}' />
            </div>
            <div class="font-weight-normal" style="margin: 5px;" style="text-align: center">
                <h3> {{model.name}} - {{model.departamento}}</h3>
            </div>
        </div>
        <div class="col-md-12">
            <span class="anchor" id="formUserEdit"></span>
            <hr class="my-5">

            <!-- form user info -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">User Information</h3>
                </div>
                <div class="card-body">
                    <form class="form" role="form" autocomplete="off">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Nome/Sobrenome</label>
                            <div class="col-lg-9">
                                <input [(ngModel)]="model.name" name="name" class="form-control" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Departamento</label>
                            <div class="col-lg-9">
                                <select (change)="onChangeDepartamento($event.target.value)" class="form-control" size="0">
                                    <option *ngFor="let departamento of listDepartamento" value={{departamento.nome}} >
                                        {{departamento.traducao}}
                                    </option>
                                </select>  
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/col-->